body {
  max-width: 70ch;
  font-size: 21px;
  margin: 0 auto;
  font-family: 'Droid Serif', serif;
  padding: 80px 0;
  color: #313131;
  line-height: 1.4;
}
a {
  position: relative;
  text-decoration: none;
  color: #313131;
  font-family: 'Droid Sans Mono', monospace;
}
a:before {
  content: "";
  width: 0px;
  height: 100%;
  border-bottom: black 1px solid;
  position:absolute;
  top: 0;
  left: 0;
  display: inline-block;
  transition: width 300ms ease;
  pointer-events: none;
}
a:hover:before {
  width:100%;
}
h1, h2, h3 {
  font-family: 'Droid Sans', sans-serif;
  text-transform: capitalize;
  font-weight: normal;
  margin: 0.5em 0;
}
h1 {
  font-weight: bold;
  font-size: 23.5px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 23px;
}
p {
  text-indent: 3ch;
  margin: 0px;
}
pre {
  overflow-x: auto;
}
table {
  margin: 20px 0;
  border-spacing: 0px;
}
tr td {
  border-bottom: 1px solid black
}
tr:last-child td {
  border-bottom: none;
}
td {
  border-right: 1px solid black;
  padding: 10px;
}
td:last-child {
  border-right: none;
}
img {
  width:100%;
  margin-left: -3ch; /*To get rid of the p tag text-indent*/
}
ul, ol {
  margin: 0.5em 0;
  padding-left: 3ch;
}
.clear-list {
  list-style: none;
}
.no-padding-list {
  -webkit-padding-start: 0px;
}
.blockquote {
  font-size: 19px;
  line-height: 1.2;
  margin: 1em 2em;
}
