body {
  max-width: 800px;
  font-size: 21px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  padding: 4em 2em;
  color: #313131;
  line-height: 1.4;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
}
a {
  position: relative;
  text-decoration: none;
  color: #313131;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  white-space: nowrap;
}
a:before {
  content: "";
  width: 0px;
  height: 100%;
  border-bottom: black 1px solid;
  position:absolute;
  top: 0;
  left: 0;
  display: inline-block;
  transition: width 300ms ease;
  pointer-events: none;
}
a:hover:before {
  width:100%;
}
h1, h2, h3 {
  text-transform: capitalize;
  font-weight: 400;
  margin: 0.5em 0;
}
h1 {
  font-weight: 700;
  font-size: 112%;
}
h2 {
  font-size: 123%;
}
:not(h1)+h2 {
  border-top: 1px black solid;
  padding-top: 0.5em;
}
h3 {
  font-size: 109%;
}
p {
  text-indent: 3ch;
  margin: 0px;
}
pre {
  overflow-x: auto;
}
table {
  margin: 20px 0;
  border-spacing: 0px;
}
tr td {
  border-bottom: 1px solid black
}
tr:last-child td {
  border-bottom: none;
}
td {
  border-right: 1px solid black;
  padding: 10px;
}
td:last-child {
  border-right: none;
}
img {
  display: block;
  padding: 10px 0;
  width:100%;
}
ul, ol {
  margin: 0.5em 0;
  padding-left: 3ch;
}
.clear-list {
  list-style: none;
}
.no-padding-list {
  -webkit-padding-start: 0px;
}
li {
  padding: 0.3em 0;
}
blockquote {
  text-indent: 3ch;
  font-size: 90%;
  line-height: 1.2;
  margin: 1em 2em;
}
iframe {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
@media (max-width: 870px) {
  body {
    font-size: 20px;
  }
  a {
    white-space: normal;
  }
}
@media (max-width: 830px) {
  body {
    font-size: 19px;
  }
}
@media (max-width: 790px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 750px) {
  body {
    padding: 2em;
    font-size: 17px;
  }
}
