body {
  font-family: Inconsolata, Monaco, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 17px;
  line-height: 1.42857143;
  color: #333333;
	background-color: rgb(40, 44, 52);
  margin-right: 0px;
}
table {
  padding-bottom: 56px;
  border-spacing: 0px;
  width: 100%;
}
td {
  color: #ABB2BF;
  padding: 0px;
  float: left;
}
div {
  display: block;
}
.gutter {
  text-align: right;
  float: left;
	width: 20px;
	display: inline;
	color: rgba(171, 178, 191, 0.6);
	background-color: rgb(40, 44, 52);
	padding-right: 10px;
}
.storage {
  color: #c678dd;
}
.text {
  color: #ABB2BF;
}
.indent {
	padding-left: 20px;
	display: inline-block;
  border-left: thin solid rgba(171, 178, 191, 0.55);
  width: inherit;
}
.string {
	color: #98c379;
}
.function-name {
	color: #61afef;
}
.function {
	color: #c678dd;
}
.class {
	color: #e5c07b;
}
.constant {
	color: #d19a66;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
tr:last-child {
  background-color: rgba(153, 187, 255, 0.04);
}
tr:last-child .gutter {
  color: rgba(171, 178, 191, 1);
}
.escape {
  color: #56b6c2;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    color: #9DA5B4;
    width: 100%;
    background-color: rgb(33, 37, 43);
    border-top: solid 1px rgb(24, 26, 31);
    font-size: 11px;
    font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}
.footer-text {
  line-height: 28px;
}
.fleft {
  float: left;
  margin-right: 16.5px;
  margin-left: 8.25px;
}
.fright {
  float: right;
  margin-left: 16.5px;
  margin-right: 8.25px;
}
