<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="shortcut icon" href="/images/alec.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% feed_meta %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/crt.css">
    <script src="/js/scripts.js"></script>
    <script type="text/javascript">
      window.onload = function(){
        renderPage('{{ page.variable }}', `{{ content }}`);
      };
      window.onclick = onBodyClick;
    </script>
  </head>
  <body class="crt">
    <div id="container"></div>
  </body>
</html>
