<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="shortcut icon" href="/images/alec.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/markdown.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/syntax.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
  <footer>
    <a href="/blog.html">Back to blog.html</a>
  </footer>
</html>
